
1.Find second highest salary

2.Find nth highest salary

3.Find duplicates record

4.Delete duplicates record

5.emp earning more than manager

6.EMP joined before their maneger

7.Get rolling average from last 7 days

8.Running total of sales

9.Top 3 salary per department

10.Find department with no employees

11.Emp with same job in multiple dept

12.EMP who work in more than 1 department

13.Find total salary per department

14.Find highest paid department (by total sales)

15.Find the consecutive days per user -use of lag and lead

16.Calculate monthly revenue

17.Find customers who didn't place any orders

18.Find emp with maximum tenure

19.Rank Department by average salary

20.Find users who purchase the same product twice

21.Emp whose salary < department average

22.Find first and last purchase date for each customer

23.Output rows for two table join - for left/right/full/inner

24.Case statement

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from datetime import date

In [0]:
# Orders Table
orders_data = [
    (1, 101, 1001, date(2025, 10, 1), 250.50),
    (2, 102, 1002, date(2025, 10, 2), 450.75),
    (3, 103, 1003, date(2025, 10, 3), 120.00),
    (4, 104, 1002, date(2025, 10, 4), 300.25),
    (5, 105, 1004, date(2025, 10, 5), 550.00),
    (6, 106, 1005, date(2025, 10, 6), 275.75),
    (7, 107, 1001, date(2025, 10, 7), 220.00),
    (8, 108, 1003, date(2025, 10, 8), 180.50)
]

orders_columns = ["order_id", "customer_id", "product_id", "order_date", "amount"]
orders_df = spark.createDataFrame(orders_data, orders_columns)

# Sales Table
sales_data = [
    (1, 1001, date(2025, 10, 5), 260.00),
    (2, 1002, date(2025, 10, 6), 470.50),
    (3, 1003, date(2025, 10, 7), 130.25),
    (4, 1004, date(2025, 10, 8), 560.00),
    (5, 1005, date(2025, 10, 9), 290.00),
    (6, 1006, date(2025, 10, 10), 330.75),
    (7, 1001, date(2025, 10, 11), 240.25),
    (8, 1002, date(2025, 10, 12), 460.00)
]

sales_columns = ["sale_id", "product_id", "sale_date", "amount"]
sales_df = spark.createDataFrame(sales_data, sales_columns)

# Departments Table
departments_data = [
    (10, "Electronics"),
    (20, "Home Appliances"),
    (30, "Furniture"),
    (40, "Groceries"),
    (50, "Clothing")
]

departments_columns = ["dept_id", "dept_name"]
dept_df = spark.createDataFrame(departments_data, departments_columns)

emp_data = [
    (1, "Adam Scott", 10, 3, 55000, "1998-01-10", "Developer"),
    (2, "Bella Rose", 20, 5, 60000, "2021-03-15", "Analyst"),
    (3, "Charlie King", 10, None, 80000, "2019-05-20", "Manager"),
    (4, "Diana Prince", 20, 5, 62000, "2020-07-25", "Team Lead"),
    (5, "Ethan Hunt", 20, None, 90000, "2018-02-10", "Director"),
    (6, "Fiona Glenanne", 30, 7, 50000, "2022-09-05", "QA Engineer"),
    (7, "George Clooney", 30, None, 85000, "2017-11-30", "Manager"),
    (8, "Hannah Baker", 10, 3, 57000, "2021-12-12", "Developer")
]

# Define column names
emp_columns = ["emp_id", "emp_name", "dept_id", "manager_id", "salary", "hire_date", "job_title"]

# Create DataFrame
emp_df = spark.createDataFrame(emp_data, emp_columns)

# Register as a temporary SQL table
emp_df.createOrReplaceTempView("emp_tbl")

# ----------------------------------------------------------
# 3️⃣ Register as Spark SQL Temporary Tables
# ----------------------------------------------------------

orders_df.createOrReplaceTempView("orders_tbl")
sales_df.createOrReplaceTempView("sales_tbl")
dept_df.createOrReplaceTempView("dept_tbl")

###  1. Find second highest salary

### a. Using sub-query

In [0]:
spark.sql("""
          select max(salary) as max_salary
          from emp_tbl
          where salary<(
            select max(salary)
            from emp_tbl
          )

          """).display()

max_salary
85000

### b. Using window function

In [0]:
spark.sql("""
          select salary
          from (
              select salary,dense_rank() over(order by salary desc) as rank
              from emp_tbl

          )ranked
          where rank=2
          
          
          """).display()

salary
85000

### c. Using limit

In [0]:
spark.sql("""
          select salary
          from emp_tbl
          order by salary desc
          limit 1 offset 1
          
          
          """).display()

salary
85000

### d. Using limit

In [0]:
spark.sql("""
    SELECT DISTINCT salary
    FROM emp_tbl
    ORDER BY salary DESC
    LIMIT 2
""").display()

salary
90000
85000

# pyspark

In [0]:
from pyspark.sql.window import Window
emp_df.withColumn("rank",dense_rank().over(Window.orderBy(col("salary").desc())))\
    .filter(col("rank")==2)\
    .select("salary")\
    .display()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

salary
85000

### 2. Find nth highest salary

### a. Using CTE

In [0]:
#1
spark.sql("""
          with cte as(
              select *,dense_rank() over(order by salary desc) as rank
              from emp_tbl
          )
          select emp_name,salary from cte
          where rank=3
                    """).display()

emp_name,salary
Charlie King,80000

### 2. Using sub-query

In [0]:
#2
spark.sql("""
          select emp_name,salary
          from (
              select emp_name,salary,dense_rank() over(order by salary desc) as rank
              from emp_tbl
          )ranked
          where rank=3
          
          """).display()

emp_name,salary
Charlie King,80000

### c. Using sub-query

In [0]:
#3
spark.sql("""
    SELECT MIN(salary) AS third_highest_salary
    FROM (
        SELECT DISTINCT salary
        FROM emp_tbl
        ORDER BY salary DESC
        LIMIT 3
    )
""").display()

third_highest_salary
80000

# pyspark

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [0]:
emp_df.withColumn("rank",dense_rank().over(Window.orderBy(col("salary").desc())))\
  .filter(col("rank")==3)\
  .select("salary")\
  .display()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

salary
80000

### 3. Find duplicates

In [0]:
# Find duplicates
emp_df.display()

emp_id,emp_name,dept_id,manager_id,salary,hire_date,job_title
1,Adam Scott,10,3,55000,1998-01-10,Developer
2,Bella Rose,20,5,60000,2021-03-15,Analyst
3,Charlie King,10,null,80000,2019-05-20,Manager
4,Diana Prince,20,5,62000,2020-07-25,Team Lead
5,Ethan Hunt,20,null,90000,2018-02-10,Director
6,Fiona Glenanne,30,7,50000,2022-09-05,QA Engineer
7,George Clooney,30,null,85000,2017-11-30,Manager
8,Hannah Baker,10,3,57000,2021-12-12,Developer

In [0]:
spark.sql("""
          select emp_id,count(*) as count
          from emp_tbl
          group by emp_id
          having count(*)>1
          
          
          """).display()

# pyspark

In [0]:
emp_df.groupBy("emp_id").agg(count("*").alias("count"))\
  .filter(col("count")>1)\
  .display()

### 4. Delete duplicate records

In [0]:
spark.sql("""
          with CTE as (
            select *,rank() over(partition by emp_id order by row_id) as rank
            from emp_tbl
          )

          delete from CTE
          where rank > 1
          
          """).display()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-6708613953912211>, line 1
----> 1 spark.sql("""
      2           with CTE as (
      3             select *,rank() over(partition by emp_id order by row_id) as rank
      4             from emp_tbl
      5           )
      6
      7           delete from CTE
      8           where rank > 1
      9
     10           """).display()

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/session.py:875, in SparkSession.sql(self, sqlQuery, args, **kwargs)
    872         _views.append(SubqueryAlias(df._plan, name))
    874 cmd = SQL(sqlQuery, _args, _named_args, _views)
--> 875 data, properties, ei = self.client.execute_command(cmd.command(self._client))
    876 if "sql_command_result" in properties:
    877     df = DataFrame(CachedRelation(properties["sql_command_result"]), self)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:1556, in SparkConnectClient.execute_command(self, command, observations, extra_request_metadata)
   1554     req.user_context.user_id = self._user_id
   1555 req.plan.command.CopyFrom(command)
-> 1556 data, _, metrics, observed_metrics, properties = self._execute_and_fetch(
   1557     req, observations or {}, extra_request_metadata
   1558 )
   1559 # Create a query execution object.
   1560 ei = ExecutionInfo(metrics, observed_metrics)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2059, in SparkConnectClient._execute_and_fetch(self, req, observations, extra_request_metadata, self_destruct)
   2056 properties: Dict[str, Any] = {}
   2058 with Progress(handlers=self._progress_handlers, operation_id=req.operation_id) as progress:
-> 2059     for response in self._execute_and_fetch_as_iterator(
   2060         req, observations, extra_request_metadata or [], progress=progress
   2061     ):
   2062         if isinstance(response, StructType):
   2063             schema = response

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2035, in SparkConnectClient._execute_and_fetch_as_iterator(self, req, observations, extra_request_metadata, progress)
   2033     raise kb
   2034 except Exception as error:
-> 2035     self._handle_error(error)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2355, in SparkConnectClient._handle_error(self, error)
   2353     self.thread_local.inside_error_handling = True
   2354     if isinstance(error, grpc.RpcError):
-> 2355         self._handle_rpc_error(error)
   2356     raise error
   2357 finally:

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2433, in SparkConnectClient._handle_rpc_error(self, rpc_error)
   2429             logger.debug(f"Received ErrorInfo: {info}")
   2431             self._handle_rpc_error_with_error_info(info, status.message, status_code)  # EDGE
-> 2433             raise convert_exception(
   2434                 info,
   2435                 status.message,
   2436                 self._fetch_enriched_error(info),
   2437                 self._display_server_stack_trace(),
   2438                 status_code,
   2439             ) from None
   2441     raise SparkConnectGrpcException(
   2442         message=status.message,
   2443         sql_state=ErrorCode.CLIENT_UNEXPECTED_MISSING_SQL_STATE,  # EDGE
   2444         grpc_status_code=status_code,
   2445     ) from None
   2446 else:

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `row_id` cannot be resolved. Did you mean one of the following? [`emp_id`, `dept_id`, `job_title`, `salary`, `emp_name`]. SQLSTATE: 42703; line 3 pos 62;
'DeleteFromTable ('rank > 1)
+- 'SubqueryAlias CTE
   +- 'Project [emp_id#11280L, emp_name#11281, dept_id#11282L, manager_id#11283L, salary#11284L, hire_date#11285, job_title#11286, rank() windowspecdefinition(emp_id#11280L, 'row_id ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#11840]
      +- SubqueryAlias emp_tbl
         +- View (`emp_tbl`, [emp_id#11280L, emp_name#11281, dept_id#11282L, manager_id#11283L, salary#11284L, hire_date#11285, job_title#11286])
            +- Project [emp_id#11273L AS emp_id#11280L, emp_name#11274 AS emp_name#11281, dept_id#11275L AS dept_id#11282L, manager_id#11276L AS manager_id#11283L, salary#11277L AS salary#11284L, hire_date#11278 AS hire_date#11285, job_title#11279 AS job_title#11286]
               +- LocalRelation [emp_id#11273L, emp_name#11274, dept_id#11275L, manager_id#11276L, salary#11277L, hire_date#11278, job_title#11279]


JVM stacktrace:
org.apache.spark.sql.catalyst.ExtendedAnalysisException
	at org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:618)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:191)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$10(CheckAnalysis.scala:500)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$10$adapted(CheckAnalysis.scala:485)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.traverse$1(CheckAnalysis.scala:1068)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1$adapted(CheckAnalysis.scala:1067)
	at scala.collection.immutable.List.foreach(List.scala:334)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.traverse$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1$adapted(CheckAnalysis.scala:1067)
	at scala.collection.immutable.Vector.foreach(Vector.scala:2125)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.traverse$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1$adapted(CheckAnalysis.scala:1067)
	at scala.collection.immutable.Vector.foreach(Vector.scala:2125)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.traverse$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$foreachUpSkippingSecureView$1$adapted(CheckAnalysis.scala:1067)
	at scala.collection.immutable.Vector.foreach(Vector.scala:2125)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.traverse$1(CheckAnalysis.scala:1067)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.foreachUpSkippingSecureView(CheckAnalysis.scala:1070)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$9(CheckAnalysis.scala:485)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$9$adapted(CheckAnalysis.scala:485)
	at scala.collection.IterableOnceOps.foreach(IterableOnce.scala:619)
	at scala.collection.IterableOnceOps.foreach$(IterableOnce.scala:617)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:935)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:485)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:324)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:312)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:311)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:311)
	at scala.collection.immutable.Vector.foreach(Vector.scala:2125)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:311)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:311)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:311)
	at scala.collection.immutable.Vector.foreach(Vector.scala:2125)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:311)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:324)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:295)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:585)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis$1(CheckAnalysis.scala:280)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at com.databricks.spark.util.FrameProfiler$.$anonfun$record$1(FrameProfiler.scala:114)
	at com.databricks.spark.util.FrameProfilerExporter$.maybeExportFrameProfiler(FrameProfilerExporter.scala:200)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:105)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:266)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:262)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:585)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:439)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:267)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:439)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:98)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:135)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:91)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$2(Analyzer.scala:642)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:425)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:642)
	at com.databricks.sql.unity.SAMSnapshotHelper$.visitPlansDuringAnalysis(SAMSnapshotHelper.scala:41)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:634)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$3(QueryExecution.scala:347)
	at com.databricks.spark.util.FrameProfiler$.$anonfun$record$1(FrameProfiler.scala:114)
	at com.databricks.spark.util.FrameProfilerExporter$.maybeExportFrameProfiler(FrameProfilerExporter.scala:200)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:105)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:697)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$8(QueryExecution.scala:832)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withExecutionPhase$1(SQLExecution.scala:158)
	at com.databricks.logging.AttributionContext$.$anonfun$withValue$1(AttributionContext.scala:328)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:59)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:324)
	at com.databricks.util.TracingSpanUtils$.$anonfun$withTracing$4(TracingSpanUtils.scala:235)
	at com.databricks.util.TracingSpanUtils$.withTracing(TracingSpanUtils.scala:129)
	at com.databricks.util.TracingSpanUtils$.withTracing(TracingSpanUtils.scala:233)
	at com.databricks.tracing.TracingUtils$.withTracing(TracingUtils.scala:296)
	at com.databricks.spark.util.DatabricksTracingHelper.withSpan(DatabricksSparkTracingHelper.scala:115)
	at com.databricks.spark.util.DBRTracing$.withSpan(DBRTracing.scala:47)
	at org.apache.spark.sql.execution.SQLExecution$.withExecutionPhase(SQLExecution.scala:139)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$7(QueryExecution.scala:832)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:1478)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$5(QueryExecution.scala:825)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$4(QueryExecution.scala:822)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$3(QueryExecution.scala:822)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:821)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.withQueryExecutionId(QueryExecution.scala:809)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:820)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:819)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:329)
	at com.databricks.sql.util.MemoryTrackerHelper.withMemoryTracking(MemoryTrackerHelper.scala:111)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:328)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1687)
	at org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:60)
	at org.apache.spark.util.LazyTry.tryT(LazyTry.scala:59)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:75)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:389)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:302)
	at org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$3(Dataset.scala:154)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.classic.SparkSession.$anonfun$withActiveAndFrameProfiler$1(SparkSession.scala:1077)
	at com.databricks.spark.util.FrameProfiler$.$anonfun$record$1(FrameProfiler.scala:114)
	at com.databricks.spark.util.FrameProfilerExporter$.maybeExportFrameProfiler(FrameProfilerExporter.scala:200)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:105)
	at org.apache.spark.sql.classic.SparkSession.withActiveAndFrameProfiler(SparkSession.scala:1077)
	at org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:146)
	at org.apache.spark.sql.classic.SparkSession.$anonfun$sql$5(SparkSession.scala:856)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.classic.SparkSession.sql(SparkSession.scala:819)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.executeSQL(SparkConnectPlanner.scala:3587)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.handleSqlCommand(SparkConnectPlanner.scala:3411)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.process(SparkConnectPlanner.scala:3288)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.handleCommand(ExecuteThreadRunner.scala:383)
	at org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1748)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:75)
	at org.apache.spark.sql.execution.QueryExecution.executedPlan(QueryExecution.scala:753)
	at com.databricks.spark.sqlgateway.history.SqlExecutionMetrics.$anonfun$setQueryExecution$1(SqlExecutionMetrics.scala:191)
	at scala.Option.flatMap(Option.scala:283)
	at com.databricks.spark.sqlgateway.history.SqlExecutionMetrics.setQueryExecution(SqlExecutionMetrics.scala:191)
	at com.databricks.spark.sqlgateway.history.SqlGatewayHistorySparkListener.$anonfun$onSqlStart$1(SqlGatewayHistorySparkListener.scala:831)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at com.databricks.spark.util.FrameProfiler$.$anonfun$record$1(FrameProfiler.scala:114)
	at com.databricks.spark.util.FrameProfilerExporter$.maybeExportFrameProfiler(FrameProfilerExporter.scala:200)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:105)
	at com.databricks.spark.sqlgateway.history.SqlGatewayHistorySparkListener.com$databricks$spark$sqlgateway$history$SqlGatewayHistorySparkListener$$onSqlStart(SqlGatewayHistorySparkListener.scala:779)
	at com.databricks.spark.sqlgateway.history.SqlGatewayHistorySparkListener$$anonfun$onOtherEventDefault$1.applyOrElse(SqlGatewayHistorySparkListener.scala:249)
	at com.databricks.spark.sqlgateway.history.SqlGatewayHistorySparkListener$$anonfun$onOtherEventDefault$1.applyOrElse(SqlGatewayHistorySparkListener.scala:237)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:35)
	at com.databricks.spark.sqlgateway.history.utils.ScriptStatementHelper$$anonfun$onOtherEvent$1.applyOrElse(ScriptStatementHelper.scala:29)
	at com.databricks.spark.sqlgateway.history.utils.ScriptStatementHelper$$anonfun$onOtherEvent$1.applyOrElse(ScriptStatementHelper.scala:29)
	at scala.PartialFunction$OrElse.applyOrElse(PartialFunction.scala:270)
	at com.databricks.spark.sqlgateway.history.SqlGatewayHistorySparkListener.$anonfun$onOtherEvent$1(SqlGatewayHistorySparkListener.scala:215)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at com.databricks.spark.util.FrameProfiler$.$anonfun$record$1(FrameProfiler.scala:114)
	at com.databricks.spark.util.FrameProfilerExporter$.maybeExportFrameProfiler(FrameProfilerExporter.scala:200)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:105)
	at com.databricks.spark.sqlgateway.history.SqlGatewayHistorySparkListener.onOtherEvent(SqlGatewayHistorySparkListener.scala:215)
	at org.apache.spark.scheduler.SparkListenerBus.doPostEvent(SparkListenerBus.scala:108)
	at org.apache.spark.scheduler.SparkListenerBus.doPostEvent$(SparkListenerBus.scala:28)
	at org.apache.spark.scheduler.AsyncEventQueue.doPostEvent(AsyncEventQueue.scala:46)
	at org.apache.spark.scheduler.AsyncEventQueue.doPostEvent(AsyncEventQueue.scala:46)
	at org.apache.spark.util.ListenerBus.postToAll(ListenerBus.scala:208)
	at org.apache.spark.util.ListenerBus.postToAll$(ListenerBus.scala:172)
	at org.apache.spark.scheduler.AsyncEventQueue.super$postToAll(AsyncEventQueue.scala:150)
	at org.apache.spark.scheduler.AsyncEventQueue.$anonfun$dispatch$1(AsyncEventQueue.scala:150)
	at scala.runtime.java8.JFunction0$mcJ$sp.apply(JFunction0$mcJ$sp.scala:17)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:59)
	at org.apache.spark.scheduler.AsyncEventQueue.org$apache$spark$scheduler$AsyncEventQueue$$dispatch(AsyncEventQueue.scala:119)
	at org.apache.spark.scheduler.AsyncEventQueue$$anon$2.$anonfun$run$1(AsyncEventQueue.scala:115)
	at org.apache.spark.util.Utils$.tryOrStopSparkContext(Utils.scala:1575)
	at org.apache.spark.scheduler.AsyncEventQueue$$anon$2.run(AsyncEventQueue.scala:115)

## pyspark

In [0]:
from pyspark.sql.functions import monotonically_increasing_id
emp_df.withColumn("row_id", monotonically_increasing_id())\
  .withColumn("Rank",dense_rank().over(Window.partitionBy("emp_id").orderBy("row_id")))\
  .filter(col("rank")==1)\
  .display()

### 5. emp earning more than manager

In [0]:
spark.sql(""" 
          select e.emp_name as emp_name,e.salary,
           m.emp_name as maneger_name,m.salary
          from emp_tbl e
          inner join emp_tbl m
          on e.manager_id=m.emp_id
          where e.salary>m.salary
          

          """).display()

In [0]:
spark.sql(""" 
          select e.emp_name as emp_name,e.salary,
           m.emp_name as maneger_name,m.salary
          from emp_tbl e
          inner join emp_tbl m
          on e.manager_id=m.emp_id
          where e.salary>m.salary

          """).display()

## pyspark

In [0]:
e = emp_df.alias("e")
m = emp_df.alias("m")

# Correct join: employee.manager_id = manager.emp_id
e.join(m, e["manager_id"] == m["emp_id"], "inner") \
 .filter(e["salary"] < m["salary"]) \
 .select(e["emp_name"].alias("emp"), m["emp_name"].alias("manager")) \
 .display()

emp,manager
Hannah Baker,Charlie King
Adam Scott,Charlie King
Diana Prince,Ethan Hunt
Bella Rose,Ethan Hunt
Fiona Glenanne,George Clooney

### 6. EMP joined before their maneger

In [0]:
# EMP joined before their maneger
spark.sql("""
          select e.emp_name,e.hire_date,m.emp_name,m.hire_date
          from emp_tbl e
          inner join emp_tbl m
          on e.manager_id=m.emp_id
          where e.hire_date<m.hire_date
          
          """).display()

emp_name,hire_date,emp_name,hire_date
Adam Scott,1998-01-10,Charlie King,2019-05-20

## pyspark

In [0]:
e=emp_df.alias("e")
m=emp_df.alias("m")

e.join(m,e.manager_id==m.emp_id,"inner")\
  .filter(e["hire_date"]<m["hire_date"])\
  .select(e["emp_name"],e["hire_date"].alias("emp_hire_date"),m["emp_name"].alias("maneger_name"),m["hire_date"].alias("maneger_hire_date"))\
  .display()

emp_name,emp_hire_date,maneger_name,maneger_hire_date
Adam Scott,1998-01-10,Charlie King,2019-05-20

### 7. Get rolling average from last 7 days

### a.

In [0]:
spark.sql("""
          select *,avg(amount) over(order by sale_date rows between 6 preceding and current row) as roll_avg
          from sales_tbl
          """).display()

sale_id,product_id,sale_date,amount,roll_avg
1,1001,2025-10-05,260.0,260.0
2,1002,2025-10-06,470.5,365.25
3,1003,2025-10-07,130.25,286.9166666666667
4,1004,2025-10-08,560.0,355.1875
5,1005,2025-10-09,290.0,342.15
6,1006,2025-10-10,330.75,340.25
7,1001,2025-10-11,240.25,325.9642857142857
8,1002,2025-10-12,460.0,354.5357142857143

### b. Using per product

In [0]:
spark.sql("""
          select *,avg(amount) over(partition by product_id order by sale_date rows between 6 preceding and current row) as roll_avg
          from sales_tbl
          
          """).display()

sale_id,product_id,sale_date,amount,roll_avg
1,1001,2025-10-05,260.0,260.0
7,1001,2025-10-11,240.25,250.125
2,1002,2025-10-06,470.5,470.5
8,1002,2025-10-12,460.0,465.25
3,1003,2025-10-07,130.25,130.25
4,1004,2025-10-08,560.0,560.0
5,1005,2025-10-09,290.0,290.0
6,1006,2025-10-10,330.75,330.75

## pyspark

In [0]:
sales_df.withColumn("roll_avg",avg("amount").over(Window.partitionBy("product_id").orderBy("sale_date").rowsBetween(-6, 0)))\
  .display()

sale_id,product_id,sale_date,amount,roll_avg
1,1001,2025-10-05,260.0,260.0
7,1001,2025-10-11,240.25,250.125
2,1002,2025-10-06,470.5,470.5
8,1002,2025-10-12,460.0,465.25
3,1003,2025-10-07,130.25,130.25
4,1004,2025-10-08,560.0,560.0
5,1005,2025-10-09,290.0,290.0
6,1006,2025-10-10,330.75,330.75

### 8. Running total of sales

In [0]:
#Running total of sales
spark.sql("""
          select *,sum(amount) over (order by sale_date ) as running_sum
          from sales_tbl
          
          """).display()

sale_id,product_id,sale_date,amount,running_sum
1,1001,2025-10-05,260.0,260.0
2,1002,2025-10-06,470.5,730.5
3,1003,2025-10-07,130.25,860.75
4,1004,2025-10-08,560.0,1420.75
5,1005,2025-10-09,290.0,1710.75
6,1006,2025-10-10,330.75,2041.5
7,1001,2025-10-11,240.25,2281.75
8,1002,2025-10-12,460.0,2741.75

In [0]:
from pyspark.sql import Window
from pyspark.sql.functions import sum

sales_df.withColumn("running_sum", sum("amount").over(Window.orderBy("sale_date"))).display()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

sale_id,product_id,sale_date,amount,running_sum
1,1001,2025-10-05,260.0,260.0
2,1002,2025-10-06,470.5,730.5
3,1003,2025-10-07,130.25,860.75
4,1004,2025-10-08,560.0,1420.75
5,1005,2025-10-09,290.0,1710.75
6,1006,2025-10-10,330.75,2041.5
7,1001,2025-10-11,240.25,2281.75
8,1002,2025-10-12,460.0,2741.75

### 9. Top 3 salary per department

In [0]:
#Top 3 salary per department
spark.sql("""
          with cte as(
              select dept_id,salary,dense_rank() over(partition by dept_id order by salary)as rank
              from emp_tbl
          )

          select * 
          from cte
          where rank<4
          """).display()

dept_id,salary,rank
10,55000,1
10,57000,2
10,80000,3
20,60000,1
20,62000,2
20,90000,3
30,50000,1
30,85000,2

In [0]:
emp_df.withColumn("rank",dense_rank().over(Window.partitionBy("dept_id").orderBy("salary")))\
  .filter(col("rank")<4)\
  .select("dept_id","salary")\
  .display()

dept_id,salary
10,55000
10,57000
10,80000
20,60000
20,62000
20,90000
30,50000
30,85000

### 10. Find department with no employees

In [0]:
#Find department with no employees
spark.sql("""
          select d.*
          from dept_tbl d
          left join emp_tbl e
          on d.dept_id=e.dept_id
          where e.dept_id is null
          
          
          """).display()

dept_id,dept_name
40,Groceries
50,Clothing

In [0]:
dept_df.join(emp_df, dept_df["dept_id"] == emp_df["dept_id"], "left") \
       .filter(emp_df["dept_id"].isNull()) \
       .select(dept_df["*"]) \
       .display()

dept_id,dept_name
40,Groceries
50,Clothing

### 11. Emp with same job in multiple dept
find employees who have worked in more than one department.

In [0]:
spark.sql("""
          select emp_name,job_title,count(distinct dept_id) as no_of_dept
          from emp_tbl
          group by emp_name,job_title
          having count(distinct dept_id)>1
          """).display()

In [0]:
emp_df.groupBy("emp_name", "job_title") \
      .agg(countDistinct("dept_id").alias("no_of_dept")) \
      .filter(col("no_of_dept") > 1) \
      .display()

### 12. EMP who work in more than 1 department

In [0]:
spark.sql(
    """
    select emp_id,count(distinct dept_id) as dept_cnt
    from emp_tbl
    group by emp_id
    having count(distinct dept_id)>1"""
).display()

In [0]:
from pyspark.sql.functions import countDistinct

emp_df.groupBy("emp_id") \
       .agg(countDistinct("dept_id").alias("dept_cnt")) \
       .filter(col("dept_cnt") > 1) \
       .display()

### 13. Find total salary per department

In [0]:
spark.sql("""
          select *,sum(salary) over(partition by dept_id) as total_salary
          from emp_tbl""").display()

emp_id,emp_name,dept_id,manager_id,salary,hire_date,job_title,total_salary
1,Adam Scott,10,3,55000,1998-01-10,Developer,192000
2,Bella Rose,20,5,60000,2021-03-15,Analyst,212000
3,Charlie King,10,null,80000,2019-05-20,Manager,192000
4,Diana Prince,20,5,62000,2020-07-25,Team Lead,212000
5,Ethan Hunt,20,null,90000,2018-02-10,Director,212000
6,Fiona Glenanne,30,7,50000,2022-09-05,QA Engineer,135000
7,George Clooney,30,null,85000,2017-11-30,Manager,135000
8,Hannah Baker,10,3,57000,2021-12-12,Developer,192000

In [0]:
spark.sql("""
          select dept_id,sum(salary) as total_salary
          from emp_tbl
          group by dept_id""").display()

dept_id,total_salary
10,192000
20,212000
30,135000

In [0]:
emp_df.withColumn("total_salary", sum("salary").over(Window.partitionBy("dept_id")))\
    .display()

emp_id,emp_name,dept_id,manager_id,salary,hire_date,job_title,total_salary
1,Adam Scott,10,3,55000,1998-01-10,Developer,192000
2,Bella Rose,20,5,60000,2021-03-15,Analyst,212000
3,Charlie King,10,null,80000,2019-05-20,Manager,192000
4,Diana Prince,20,5,62000,2020-07-25,Team Lead,212000
5,Ethan Hunt,20,null,90000,2018-02-10,Director,212000
6,Fiona Glenanne,30,7,50000,2022-09-05,QA Engineer,135000
7,George Clooney,30,null,85000,2017-11-30,Manager,135000
8,Hannah Baker,10,3,57000,2021-12-12,Developer,192000

### 14. Find highest paid department (by total sales)

In [0]:
spark.sql("""
          select dept_id,sum(salary) as total_salary
          from emp_tbl
          group by dept_id
          order by total_salary desc
          limit 1
          
          """).display()

dept_id,total_salary
20,212000

In [0]:
from pyspark.sql.functions import sum

emp_df.groupBy("dept_id") \
       .agg(sum("salary").alias("total_salary")) \
       .orderBy(col("total_salary").desc()) \
       .limit(1) \
       .display()

dept_id,total_salary
20,212000

### 15. Find the consecutive login days per user (-use of lag and lead)

### 16. Calculate monthly revenue

In [0]:
spark.sql("""
          select date_format(sale_date,'yyyy-MM') as month,
          sum(amount) as monthly_revenue
          from sales_tbl
          group by date_format(sale_date,'yyyy-MM')
          order by month
          """).display()

month,monthly_revenue
2025-10,2741.75

In [0]:
sales_df.groupBy(date_format(col("sale_date"), "yyyy-MM").alias("month"))\
        .agg(sum("amount").alias("monthly_revenue"))\
        .orderBy("month")\
        .display()

month,monthly_revenue
2025-10,2741.75

### 17. Find customers who didn't place any orders

In [0]:
spark.sql("""
    select distinct o.customer_id
    from orders_tbl o
    left join sales_tbl s
    on o.product_id = s.product_id
    where s.product_id is null
""").display()

In [0]:
orders_df.alias("o").join(sales_df.alias("s"),col("o.product_id") == col("s.product_id"),"left")\
    .filter(col("s.product_id").isNull())\
    .select("o.customer_id")\
    .distinct()\
    .display()

### 18. Find emp with maximum tenure

In [0]:
spark.sql("""
          select emp_name,datediff(day,hire_date,getdate()) as tenure 
          from emp_tbl
          order by tenure desc
          limit 1
          """).display()

emp_name,tenure
Adam Scott,10189

In [0]:
from pyspark.sql.functions import datediff, current_date, col

emp_df.select(col("emp_name"),datediff(current_date(), col("hire_date")).alias("tenure"))\
    .orderBy(col("tenure").desc()) \
    .limit(1) \
    .display()

emp_name,tenure
Adam Scott,10189

### 19. Rank Department by average salary

In [0]:
spark.sql("""
          select dept_id, avg(salary) as avg_salary 
          from emp_tbl group by dept_id""").display()

dept_id,avg_salary
10,64000.0
20,70666.66666666667
30,67500.0

In [0]:
emp_df.groupBy("dept_id") \
    .agg(avg(col("salary")).alias("avg_salary")) \
    .display()

dept_id,avg_salary
10,64000.0
20,70666.66666666667
30,67500.0

In [0]:
# Actual answer
spark.sql("""
          select dept_id, avg(salary) as avg_salary, rank() over(order by avg(salary) desc) as rnk 
          from emp_tbl group by dept_id""").display()

dept_id,avg_salary,rnk
20,70666.66666666667,1
30,67500.0,2
10,64000.0,3

In [0]:
emp_df.groupBy("dept_id") \
    .agg(avg("salary").alias("avg_salary")) \
    .withColumn("rnk", rank().over(Window.orderBy(col("avg_salary").desc()))) \
    .display()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

dept_id,avg_salary,rnk
20,70666.66666666667,1
30,67500.0,2
10,64000.0,3

### 20. Find users who purchase the same product twice

In [0]:
spark.sql("""
          select customer_id,product_id 
          from orders_tbl
          group by customer_id,product_id
          having count(*)>1""").display()

In [0]:
orders_df.groupBy("customer_id", "product_id") \
    .agg(count("*").alias("cnt")) \
    .filter("cnt > 1") \
    .select("customer_id", "product_id") \
    .display()

### 21. Emp whose salary < department average

In [0]:
spark.sql("""
    select e.emp_id,
           e.emp_name,
           e.dept_id,
           e.salary,
           d.dept_name
    from emp_tbl e
    join (
        select dept_id, avg(salary) as avg_salary
        from emp_tbl
        group by dept_id
    ) avg_tbl
    on e.dept_id = avg_tbl.dept_id
    join dept_tbl d
    on e.dept_id = d.dept_id
    where e.salary < avg_tbl.avg_salary
""").display()

emp_id,emp_name,dept_id,salary,dept_name
1,Adam Scott,10,55000,Electronics
2,Bella Rose,20,60000,Home Appliances
4,Diana Prince,20,62000,Home Appliances
6,Fiona Glenanne,30,50000,Furniture
8,Hannah Baker,10,57000,Electronics

In [0]:
spark.sql("""
    select e.emp_name,
           e.salary,
           dept.dept_name
    from emp_tbl e
    join (
        select dept_id, avg(salary) as avg_salary
        from emp_tbl
        group by dept_id
    ) d
    on e.dept_id = d.dept_id
    join dept_tbl dept
    on e.dept_id = dept.dept_id
    where e.salary < d.avg_salary
""").display()

emp_name,salary,dept_name
Hannah Baker,57000,Electronics
Diana Prince,62000,Home Appliances
Fiona Glenanne,50000,Furniture
Adam Scott,55000,Electronics
Bella Rose,60000,Home Appliances

### 22. Find first and last purchase date for each customer

In [0]:
spark.sql("""
select customer_id,
min(order_date) as first_purchase,
max(order_date) as last_purchase
from orders_tbl
group by customer_id""").display()

customer_id,first_purchase,last_purchase
101,2025-10-01,2025-10-01
102,2025-10-02,2025-10-02
103,2025-10-03,2025-10-03
104,2025-10-04,2025-10-04
105,2025-10-05,2025-10-05
106,2025-10-06,2025-10-06
107,2025-10-07,2025-10-07
108,2025-10-08,2025-10-08

In [0]:
orders_df.groupBy("customer_id").agg(min("order_date").alias("first_purchase"),max("order_date").alias("last_purchase")) \
    .display()

customer_id,first_purchase,last_purchase
101,2025-10-01,2025-10-01
102,2025-10-02,2025-10-02
103,2025-10-03,2025-10-03
104,2025-10-04,2025-10-04
105,2025-10-05,2025-10-05
106,2025-10-06,2025-10-06
107,2025-10-07,2025-10-07
108,2025-10-08,2025-10-08

### 23. Output rows for two table join - for left/right/full/inner

### 24. Case statement

In [0]:
%sql
select 
    *,
    lag(amount) over(order by sale_date) as prev_amount,
    lead(amount) over(order by sale_date) as next_amount,
    case
        when amount > lag(amount) over(order by sale_date) then 'more'
        when amount < lag(amount) over(order by sale_date) then 'less'
        else 'same'
    end as trend
from sales_tbl;

sale_id,product_id,sale_date,amount,prev_amount,next_amount,trend
1,1001,2025-10-05,260.0,null,470.5,same
2,1002,2025-10-06,470.5,260.0,130.25,more
3,1003,2025-10-07,130.25,470.5,560.0,less
4,1004,2025-10-08,560.0,130.25,290.0,more
5,1005,2025-10-09,290.0,560.0,330.75,less
6,1006,2025-10-10,330.75,290.0,240.25,more
7,1001,2025-10-11,240.25,330.75,460.0,less
8,1002,2025-10-12,460.0,240.25,null,more

In [0]:
w = Window.orderBy("sale_date")

sales_df \
    .withColumn("prev_amount", lag("amount").over(w)) \
    .withColumn("next_amount", lead("amount").over(w)) \
    .withColumn(
        "trend",
        when(col("amount") > lag("amount").over(w), "more")
        .when(col("amount") < lag("amount").over(w), "less")
        .otherwise("same")
    ) \
    .display()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

sale_id,product_id,sale_date,amount,prev_amount,next_amount,trend
1,1001,2025-10-05,260.0,null,470.5,same
2,1002,2025-10-06,470.5,260.0,130.25,more
3,1003,2025-10-07,130.25,470.5,560.0,less
4,1004,2025-10-08,560.0,130.25,290.0,more
5,1005,2025-10-09,290.0,560.0,330.75,less
6,1006,2025-10-10,330.75,290.0,240.25,more
7,1001,2025-10-11,240.25,330.75,460.0,less
8,1002,2025-10-12,460.0,240.25,null,more